/*************************************************
 *  Projects
 **************************************************/



.project-showcase img {
  border-radius: 10px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.project-showcase video {
  border-radius: 10px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.project-showcase-video {
  border-radius: 10px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.media.stream-item img {
  max-width: initial;
}

.publication-showcase-video {
  border-radius: 10px;
  height: 150px;
  width: 300px;
  object-fit: cover;
}



