/*************************************************
 *  Projects
 **************************************************/



.project-showcase img {
  border-radius: 10px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.project-showcase video {
  border-radius: 10px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.project-showcase-video {
  border-radius: 10px;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.media.stream-item img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.publication-showcase-video {
  border-radius: 10px;
  object-fit: fill;
  width: 70%;
}

.li_card_featured {
  padding-bottom: 20px;
}

// Override figure:
// - video margin-bottom to 0px
// - left align text
figure {
  video {
    height: auto;
  }

  figcaption {
    text-align: left; // Center figure captions.
  }
}

.article-style figure video {
  margin-top: 0px;
  margin-bottom: 0px;  
}


@media screen and (max-width: 768px) {
  .li_card_featured .publication-showcase-video {
    width: 100%;
  }
}